div[id^="q"] p {
  margin-left: 20px;
}


.assignment-box{
	background-color: #940242;
	padding: 5px;
	padding-left: 25px;
	padding-right: 20px;
	padding-bottom: 25px;
	margin: auto;
	margin: 30px;
	border-radius: 10px;
}

.assignment-box p {
    color: #e7e8e2;
}

.assignment-box a {
	font-family: "Lucida Bright", Georgia, serif;
    color: #e7e8e2;
}

.assignment-box a:visited {
    color: #e7e8e2;
}

.assignment-box a:hover{
	color: #fcbdd9;
}


a.back-to-quiz {
  margin-top: 10px;
  display: inline-block;
  margin-left: 20px;
  font-size: 15px;
  text-decoration: none; 
  color: #333333; 
}

a{
	color: blue;
	text-decoration: none;
}

a:visited{
	color: blue;
}

a:hover {
	color: orange;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
}

h1{
	font-family: "Lucida Bright", Georgia, serif;
	margin-top: 40px;
	text-align: center;
	font-size: 40px;
}

p, li, td {
  font-family: Arial, sans-serif;
  font-size: 16px; 
  color: #333333; 
  line-height: 1.5;
  margin: 0;
  padding: 0; 
}

